{"name":"mobile-app","slug":"mobile-app","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.bugdiver.mobileapp"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.bugdiver.mobileapp"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"4d67673a-ac53-4852-ab49-132aaa726dc2"}},"sdkVersion":"48.0.0","platforms":["ios","android","web"]}